html, body {
  margin: 0;
  padding: 0;
  background-color: #ecffec;
}

canvas {
  display: flex;
  margin: 100px auto;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#credits {
  position: fixed;
  top: 1%;
  right: 1%;
  color: black;
  background-color: white;
  padding: 0.5%;
  border-radius: 0.5%;
  z-index: 1;
}

#settingsButton {
  position: fixed;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.1s ease;
  z-index: 1;
}

#settingsButton:active {
  transform: scale(0.95);
}

#settingsButton:hover {
  background: #FFF094;
  color: black;
}
