body {
    overflow: hidden;
}

#motHautDroite {
    position: fixed;
    top: 1%; /* Environ 1% de la hauteur de la fenêtre */
    right: 1%; /* Environ 1% de la largeur de la fenêtre */
    color: black;
    background-color: white;
    padding: 0.5%; /* Environ 0.5% de la largeur de l'élément parent */
    border-radius: 0.5%; /* Environ 0.5% de la largeur de l'élément parent */
    z-index: 1;
}

#settingsButton {
    top: 1%; /* Environ 1% de la hauteur de la fenêtre */
    left: 1%; /* Environ 1% de la largeur de la fenêtre */
    color: black;
    background-color: white;
    padding: 3%; /* Environ 0.5% de la largeur de l'élément parent */
    border-radius: 8%; /* Environ 0.5% de la largeur de l'élément parent */
    cursor: pointer;
    transition: transform 0.1s ease;
    z-index: 1;

}

#settingsButton:active {
    transform: scale(0.95); /* Réduire légèrement la taille du bouton lorsqu'il est enfoncé */
}
#settingsButton:hover {
    background: #FFF094;
    color: black;
}


#play_button {
    position: fixed;
    top: 1%; /* Environ 1% de la hauteur de la fenêtre */
    left: 12%; /* Environ 1% de la largeur de la fenêtre */
    border-color: black;
    background: transparent;
    color: transparent;
    width: 93%;
    height: 99%;
    border-radius: 0.5%; /* Environ 0.5% de la largeur de l'élément parent */
    cursor: pointer;
}
